.ticket {
    .ticket__block {
        display: flex;
        max-width: 940px;
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #fff;
        border-radius: 5px;
        z-index: 2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        align-items: center;
        .ticket__phim {
            width: 20%;
            padding: 0 15px;
            // border-right: 1px solid rgba(0, 0, 0, 0.3);
            .custom-select {
                border: none;
                padding: 0;
                outline: none;
                background: none;
                cursor: pointer;
                color: #000;
                &:focus {
                    box-shadow: none;
                }
            }
            p {
                margin: 0;
            }
            button {
                border-radius: 4px;
                border: none;
                background-color: #4a4a4a;
                padding: 10px 25px;
            }
        }
    }
}